<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Dhishna is the annual techfest of School Of Engineering,CUSAT. A myriad of events,mind boggling games,a cornucopia of challenges and competitions,exciting prizes and above all,an adventure that shouldn't be missed ! The 7 specialized branches of School Of Engineering,CUSAT merge together their talents,resources and hardwork,the building blocks for Dhishna. Breaking the usual norms of studies confined to textbooks,we aim to take learning to a whole new level. The perfect platform to launch your rockets,encompass your minds and explore the different niches of technology. Encouraging each and everyone of you,to step up,mould your thoughts and lives in your unique way,discover the tech lover in you ! We present to you, Dhishna.">
     <meta name="keywords" content="DHISHNA,dhishna,2020,techfest,kochi,CUSAT,Events,Competition,Cochin University of Science and Technology,Html ">
     <meta name="author" content="Dhishna CUSAT">


    <title>DHISHNA  - The Infinite Odyssey |</title>
    <link rel="stylesheet" href="assets/css/loader.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/star.css">
    <script src="assets/js/loader.js"></script>
</head>
<body>
     <!-- <div class="loading_scrn"></div> -->
    <div id="dark">
        <div class="loading_scrn"></div>
        <div class="infinity-loader">
            <div class="bg">
              <!--background circles-->
              <div class="left-bg"></div>
              <div class="right-bg"></div>
            </div>
            <div class="fg">
              <!--foreground circles-->
              <div class="top-left-rect">
                <div></div>
              </div>
              <div class="bottom-right-rect">
                <div></div>
              </div>
              <div class="top-right-rect">
                <div></div>
              </div>
              <div class="bottom-left-rect">
                <div></div>
              </div>
            </div>
          </div>
    </div>
    

      <!-- loading ends -->
    
    <!-- canvas section -->
    <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- boom butoon section -->
    <section>
        <div class="text-box animated zoomIn delay-1s">
            <div class="master_bubble" onclick=" boomOpen()">
                <img id="logo" class="logo " src="assets/img/logo.png" alt="">
                <div class="boom "><a href="">EVENTS</a></div>
                <div class="boom "><a  href="techtalk">TECHTALK</a></div>
                <div class="boom "><a  href="sponsors">SPONSORS</a></div>
                <div class="boom "><a href="outreach">INITIATIVES</a></div>
                <div class="boom "><a  href="spotlight">SPOTLIGHT</a></div>
                <div class="boom "><a href="workshop">WORKSHOPS</a></div>
                <div class="boom "><a href="contact">CONTACT</a></div>
                <div class="boom "><a href="about">ABOUT</a></div>
                
            </div>

        </div>
    </section>
    <!-- boom button ends -->
    <!-- theme tag section -->
  <section>
    <div class="theme" style="top:0;max-height: 30px">
        20, 21 FEB 2020
    </div>
  </section>

    <!-- theme tag section -->
    <section>
        <div class="theme">
            &copy; DHISHNA 2020 <br>
           THE INFINITE ODYSSEY
          </div>
    </section>

    <!-- theme tag section ends -->

    <!-- theme tag section -->
    <!-- <section>
        <div class="animated fadeInLeft delay-3s fadeInLeft  theme-not " style="top:0;">
            <div id="changeText">TEXT</div>
          </div>
    </section> -->

    <!-- theme tag section ends -->



    <section>
      <div class="theme text-right animated  delay-1s infinite" style="right: 0;left: unset;">

            <a href="/accommodation" title=""> <button type="button" class="btn btn-danger">Accommodation</button></a>
            <br><br>
            <a href="/map" title=""> <button type="button" class="btn btn-danger">Locate Us</button></a>


          </div>
  </section>
  <!-- theme tag section ends -->

   

   <!--  <section>
        <div class="user_badge">
             <% if(logStatus == true ){ %>
                <div><a href="logout"><i class="fas fa-user"></i> LOGOUT</a></div>
            <% } else {%>
                <div><a href="/login"><i class="fas fa-user"></i> LOGIN</a></div>
            <% }%>
            
    </section> -->
    <!-- --------------------- -->
    <script src="assets/js/boom.js"></script>
    <script src="assets/js/notification.js"></script>
</body>
</html>