@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body{
    background-color: #1d1e20;
    font-family:'Montserrat', sans-serif;
}


.home_head{
    font-size: 2em;
    color: white;
    font-family:'Montserrat', sans-serif;
    /* text-shadow:0px 0px 20px #e614c6; */
    
}

.about_p{
    font-size: 1em;
    color: white;
}

.about_text{
    font-size: 2em;
    color: white;
}



.frame{
    width: 100%;
    max-width: 600px;
    height: 80vh;
    box-shadow: 0px 0px 20px  #e614c6;
    border-radius: 20px;
}

.video_{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:500px)
{
    .home_head{
        font-size: 2em;
    }
    .about_p{
        font-size: 1em;
    }
    .card{
        width: 200px;
        height: 300px;
    }
    .h_text{
        font-size: 1em;
    }
    .details p{
        font-size: 0.8em;
        overflow: hidden;
    }
}
